body {
 font-family: Cambria, Georgia, serif;
 font-size: 81.3%;
}

.container {	
	text-align:center;
}

.container .h2 {
    
	font-size:2.5em;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	letter-spacing: -1px;
	padding:0 0 10px 0; 
	text-shadow: 5px 2px 2px #ccc;  
}

.container .h2 .cur {padding:0 50px 0 0; color:#000;}

.container .h2 .con {padding:0 0 0 40px; color:#fff;}

.container h3 {
    font-size:0.8em;
	font-family: Cambria, Georgia, serif;
    margin:5px 0;
    color:#9C9C9C;    
}

.container h3 a{
    font-size:1em;
	font-family: Cambria, Georgia, serif;
    margin:5px 0;
    color:#9C9C9C;
    text-decoration:none;
}

.gap {margin:15px 0;}

#result {
	font-size:1.7em;
	font-family: Cambria, Georgia, serif;
	padding:15px 0 10px 0;
}

.note {}



