<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.vetri.currencyConverter"
	version 	= "2.0.1">

	<name>Currency converter</name>

	<description>
		Currency converter using money.js
	</description>

	<author href="http://vetri02.github.com"
		email="vetri02@gmail.com	">
		Vetrichelvan Jeyapalpandy
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>

	<icon src="icon.png" />
	<icon src="images/ic_36x36.png" gap:platform="android" gap:density="ldpi" />
	<icon src="images/ic_48x48.png" gap:platform="android" gap:density="mdpi" />
	<icon src="images/ic_72x72.png" gap:platform="android" gap:density="hdpi" />
	
	<gap:splash src="images/splash.png" />
	
	<preference name="permissions" value="none"/>
	
</widget>

